whtml, body {
    height:100%;
}

body {
    color: #434868 !important;
    font-family: 'Raleway', sans-serif;
}

/* FONTS */
h1, h1.title {
    font-family: 'Sail', cursive;
    font-size: 3rem;
}

h2, h3 {
    font-family: 'Amaranth', sans-serif;
}

blockquote {
    font-family: 'Pattaya', sans-serif;
    font-size: 1.3rem;
}

.navbar-item {
    font-family: 'Amaranth', sans-serif;
}


/* NAV */
h4, .navbar-item, .button {
    color: #434868 !important;
}

.navbar-item img {
    max-height: 3rem;
}

.navbar-brand .navbar-item {
    padding-top: 0;
    padding-bottom: 0;
}

div.navbar-end {
    margin: 0 auto;
}

div.navbar-end .navbar-item {
    margin-left:5%;
}

/* Wrapping borders */

div.borders {
    position: relative;
    border: 5px solid #434868;
    margin-top:1vh;
    margin-bottom:1vh;
    padding:20px; 
    min-height: 100%;
}

div.borders:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid #434868;
}

/* HEROES */
.hero .hero-body {
    background-size:cover !important; 
    height: 40vh;
}

.hero#party .hero-body {
    background: url('../img/10degrees.jpg') top center;  
}

.hero#wedding .hero-body {
    background: url('../img/mountains.jpg') top center;  
}

.hero#registry .hero-body {
    background: url('../img/patagonia.jpg') top center;  
}

.hero#directions .hero-body {
    background: url('../img/boots.jpg') bottom center;  
}

/* CONTENT */
@media screen and (min-width: 1400px) {
    .content {
        padding: 0 10%;
    }
}

/* PAGE SPECIFIC */

#chelsea-and-alex {
    width: 60%;
    height: auto;
    margin: 0 auto;
    min-width:300px;
}

.content blockquote {
    background-color: #e6e9fb;
    border-left: 5px solid #cacbec;
}

/* MAP EMBED */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}