whtml, body {
    height:100%;
}

body {
    color: #434868 !important;
    font-family: 'Raleway', sans-serif;
}

a {
    color:#434868;
    text-decoration: underline;
}

@media screen and (min-width: 1408px) {
    .container {
        max-width: 800px;
    }
}

/* FONTS */
h1, h1.title {
    font-family: 'Sail', cursive;
    font-size: 3rem;
}

h2, h3 {
    font-family: 'Amaranth', sans-serif;
}

blockquote {
    font-family: 'Satisfy', cursive;
    font-size: 1.3rem;
}

.navbar-item {
    font-family: 'Amaranth', sans-serif;
}


/* NAV */
h4, .navbar-item, .button {
    color: #434868 !important;
}

a.navbar-item:hover, a.navbar-item.is-active, a.navbar-link:hover, a.navbar-link.is-active {
    background-color: #e6e9fb;
}

.navbar-item img {
    max-height: 3rem;
}

.navbar-brand .navbar-item {
    padding-top: 0;
    padding-bottom: 0;
}

/* Wrapping borders */

div.borders {
    position: relative;
    border: 5px solid #434868;
    margin-top:1vh;
    margin-bottom:1vh;
    padding:20px; 
    min-height: 100%;
}

div.borders:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid #434868;
}

/* HEROES */
.hero .hero-body {
    background-size:cover !important; 
    height: 40vh;
}

.hero#index .hero-body {
    background: url('../img/ChelseaAlex042.jpg') center center;
}

.hero#party .hero-body {
    background: url('../img/ChelseaAlex068.jpg') center center;  
}

.hero#party2 .hero-body {
    background: url('../img/ChelseaAlex032.jpg') center center;  
}

.hero#wedding .hero-body {
    background: url('../img/ChelseaAlex014.jpg') top center;  
}

.hero#wedding2 .hero-body {
    background: url('../img/mountains.jpg') top center;  
}

.hero#lodging .hero-body {
    background: url('../img/ChelseaAlex102.jpg') center center;  
}

.hero#lodging2 .hero-body {
    background: url('../img/ChelseaAlex071.jpg') center center;  
}

.hero#registry .hero-body {
    background: url('../img/ChelseaAlex137.jpg') center center;  
}

.hero#registry2 .hero-body {
    background: url('../img/ChelseaAlex105.jpg') center center;  
}

.hero#directions .hero-body {
    background: url('../img/boots.jpg') bottom center;  
}

.hero#directions2 .hero-body {
    background: url('../img/ChelseaAlex059.jpg') bottom center;  
}

.hero .hero-foot h1 {
    margin-top: 1rem;
}

/* PAGE SPECIFIC */

.hero#index .container, .hero#index .container h4 {
    color: white !important;
    text-shadow: 2px 2px 2px #434868;
}

.hero#index > div > div > h3:nth-child(5) > a {
    color: white;
}

.content blockquote {
    background-color: #e6e9fb;
    font-weight: normal;
    border-left: 5px solid #cacbec;
}

/* MAP EMBED */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}